* {
    box-sizing: border-box;
    outline: 0;
}

body {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    font-size: 1.6em;
    margin: 0;
    padding: 0;
}

.header {
    max-width: 1020px;
    min-height: 50vh;
    margin: 60px ;
    background-color: rgb(255, 255, 255);
    padding: 55px;
    margin-top: 50px;
    border-radius: 10px;
    margin-left: 120px;
    
}
.header h2 {
    color: hsl(179, 62%, 43%);
    
}
.amarelo {
    color: hsl(71, 73%, 54%);
}
.p-content {
    margin-top: 2rem;
    color: hsl(200, 10%, 82%)

}
.main1 {
    background: linear-gradient(to right, rgb(5, 192, 199) 50%, rgb(92, 241, 221) 50%);
    max-width: 1020px;
    min-height: 55vh;
    margin-top: -70px;
    margin-left: 120px;
    border-radius: 10px;
}

.tex-1 {
    padding: 50px;
    color: white;
}

.text3 {
    margin-top: -5rem;
    padding-left: 8rem;
    font-size: 16px;
    color: rgba(233, 233, 233, 0.739);

}

.number {
    font-size: 3rem;
    margin-left: 30px;
    color: white;
    margin-top: -4.2rem;
}

.text5 {
    margin-left: 30px;
    color: white;
}

.bnt {
    width: 200px;
    height: 45px;
    margin-left: 75px;
    border: none;
    border-radius: 8px;
    font-size: 1.3rem;
    color: white;
    background-color: hsl(71, 73%, 54%);
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.bnt:hover{
    background-color:hsl(179, 62%, 43%) ;
}

.main2 {
    text-align: right;
    margin-top: -16rem;
    margin-right: 16rem;
    color: white;
}

.textp {
    text-align: right;
    font-size: 16px;
    margin-right: 11.3rem ;
    color: white;
    list-style: armenian;
    line-height: 1rem;
    align-items: center;
}